.uppercase {
  text-transform: uppercase;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.navbar {
  /*background-color: #FFFFFF;*/
  margin-bottom: 0;
}
.navbar .container .navbar-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-header .navbar-brand {
  width: 20vw;
  color: #32acdc;
  padding: 6px;
}
.navbar .container .nav-header-text {
  color: #32acdc;
  font-family: 'OpenSans SemiBold';
}
.navbar .container .navbar-content-right {
  width: 34vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-container {
  overflow-x: hidden;
  overflow-y: hidden;
}
.main-container .margin-5 {
  margin-top: 5%;
}
.main-container .full-height {
  height: 100%;
}
.main-container .first-section .request-img {
  
  width: 300px;
}
.main-container .main-heading-text {
    text-align: center;
    margin-top: 7.5rem;
}
.main-container .first-section .paragraph-text {
  margin-top: 3%;
}
.main-container .first-section .button-group .btn-text {
  font-family: 'Gotham Pro Bold';
  font-size: 16px;
  line-height: 26px;
}
.main-container .down-direction-arrow {
  text-align: center;
}
.main-container .down-direction-arrow img {
  width: 2rem;
}
.main-container .first-section .button-group {
  margin-top: 6%;
}
.main-container .howItWork-section .horizontal-centered-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-container .howItWork-section .step-text {
  font-family: 'Gotham Pro Medium';
  color: #32acdc;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding-top: 4%;
}
.main-container .howItWork-section .step-subHeading-text {
  font-family: 'OpenSans SemiBold';
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.main-container .howItWork-section .step-paragraph-text {
  font-family: 'OpenSans Regular';
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.main-container .howItWork-section .step-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-container .howItWork-section .step-box-container .margin-left-2 {
  margin-left: 2%;
}
.main-container .howItWork-section .step-box-container .margin-right-2 {
  margin-right: 2%;
}
.main-container .howItWork-section .step-box-container .step-box {
  width: 310px;
  height: 331px;
  border-radius: 5px;
  
}
.main-container .howItWork-section .step-box-container .step-box:hover {
  width: 310px;
  height: 331px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 20px #ccc;
  
}
.main-container .howItWork-section .step-box-container .step-box:hover .step-btn {
   display: block;
  }
.main-container .howItWork-section .step-box-container .step-box .sign-up-icon {
  font-size: xx-large;
  color: #32acdc;
}
.main-container .howItWork-section .step-box-container .step-box .row > p {
  font-size: 14px;
  line-height: 24px;
}
.main-container .howItWork-section .step-box-container .step-box .step-btn {
  display: none;
  margin-top: 5%;
  height: 45px;
  width: 165px;
  border-radius: 5px;
  background: #32acdc;
  border: 0;
  color: #ffffff;
}
.main-container .howItWork-section .step-box-container .step-box .step-btn:hover {
  margin-top: 5%;
  height: 45px;
  width: 165px;
  border-radius: 5px;
  border: 0;
  background-image: linear-gradient(#32acdc, #38dbff);
  color: #ffffff;

}
.main-container .preview-section .message-box {
  background-color: pink;
  height: 378px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 20px #ccc;
}
.main-container .preview-section .message-box .qr-image {
  height: 25vh;
  width: auto;
  position: absolute;
  bottom: 9rem;
}
.main-container .preview-section .message-box .logo-image {
    display: flex;
    align-self: center;
    height: 10vh;
    width: auto;
}
.main-container .preview-section .message-box .app-link {
  position: absolute;
  bottom: 6rem;
  padding-left: 3%;
}
.main-container .preview-section .print-text {
  font-family: 'OpenSans Regular';
  font-size: 20px;
  line-height: 32px;
}
.main-container .useCases-section .case-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-container .useCases-section .case-box-container .case-image {
  background-image: url("../img/download (3).jpg");
  border-radius: 5px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-container .useCases-section .case-box-container .row > p {
  font-size: 14px;
  line-height: 24px;
}
.main-container .useCases-section .case-box-container .case-btn {
    margin-top: 5%;
    height: 45px;
    width: 200px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid;
    color: #32acdc;
}
.main-container .useCases-section .case-box-container .case-btn:hover {
  margin-top: 5%;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  border: 0;
  background-image: linear-gradient(#32acdc, #38dbff);
  color: #ffffff;

}
.main-container .requirement-section .qr-image {
  height: 50px;
  width: 70px;
  margin-bottom: 5%;
}
.main-container .requirement-section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-container .requirement-section .customers-img {
  height: 280px;
  width: 368px;
  border-radius: 5px;
}
.main-container .requirement-section .img-overlay-left {
    margin-top: 4rem;
    margin-right: -2rem;
    z-index: 1;
}
.main-container .requirement-section .img-overlay-right {
    margin-top: 4rem;
    margin-left: -2rem;
}
.main-container .benifits-section .user-image {
  height: 400px;
}
.main-container .benifits-section .li-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: flex-start;
}
.main-container .benifits-section .benifits-list-container {
  display: flex;
  align-items: flex-start;
}
.main-container .benifits-section .benfit-list-text {
  font-family: 'OpenSans Regular';
  padding-bottom: 5%;
}
.main-container .benifits-section li {
 list-style: none;
}
.main-container .benifits-section li::before {
  content: "•  ";
  color: #32acdc;
  padding-right: 2%;
}
.main-container .central-border {
  display: flex;
  width: 7%;
  height: 5vh;
  margin: 0px auto;
  border-bottom: 2px solid #32acdc;
}
footer {
  height: 10vh;
  background-color: #303640;
  color: #ffffff;
}