
.navbar {
  background-color: transparent;
  margin-bottom: 0;
}

.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}

.navbar-brand > img {
  display: inline-block;
  width: 3rem;
  margin-right: 0.5rem;
}
.navbar-default {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar .navbar-header {
    width: 30%;
    display: flex;
    justify-content: center;
}
.navbar-nav li a {
  border-bottom: 3px solid transparent;
}
.navbar-nav li a:hover {
  cursor: pointer;
  background-color: unset;
  border-bottom: 3px solid #32AEDE;
  overflow:hidden;
}
.nav .open a {
  border: none;
}
.nav .open a:hover,
.nav .open a:focus {
  border: none;
}

.navbar .container .navbar-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-header .navbar-brand {
  padding: 6px;
}
.enterCodespan {
  padding-top: 5px;
  padding-left: 10px;
}
.dummy-div {
  width: 3.5rem;
}
.navbar-header .navbar-brand label {
  background: linear-gradient(-90deg, #38dbff, #32acdc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .container .nav-header-text {
  color: #32acdc;
  font-family: 'OpenSans SemiBold';
}

.main-container .margin-5 {
  margin-top: 5%;
}

.main-container .margin-8 {
  margin-top: 8%;
}
.main-container .first-section .request-img {
  height: 70vh;
  width: auto;
}
.main-container .main-heading-text {
    text-align: center;
    margin: 0;
}
.main-container .first-section .paragraph-text {
  margin-top: 3%;
}
.main-container .first-section .button-group .btn-text {
  font-family: 'Gotham Pro Bold';
  font-size: 16px;
  line-height: 26px;
}
.main-container .down-direction-arrow {
  text-align: center;
}
.main-container .down-direction-arrow img {
  width: 2rem;
}
.main-container .first-section .button-group {
  margin-top: 6%;
}
.main-container .howItWork-section {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container .howItWork-section .step-text {
  font-family: 'Gotham Pro Medium';
  color: #32acdc;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding-top: 4%;
}
.main-container .howItWork-section .step-subHeading-text {
  font-family: 'OpenSans SemiBold';
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.main-container .howItWork-section .step-paragraph-text {
  font-family: 'OpenSans Regular';
  font-size: 14px;
  line-height: 24px;
  color: #4c5666;
}
.main-container .howItWork-section .step-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-container .howItWork-section .step-box-container .margin-left-2 {
  margin-left: 2%;
}
.main-container .howItWork-section .step-box-container .margin-right-2 {
  margin-right: 2%;
}
.main-container .howItWork-section .step-box-container .step-box:hover .step-btn {
   display: block;
  }
.main-container .howItWork-section .step-box-container .step-box .step-image {
  height: 7vh;
}
.main-container .howItWork-section .step-box-container .step-box .row > p {
  font-size: 14px;
  line-height: 24px;
}
.main-container .howItWork-section .step-box-container .step-box .step-btn {
  display: none;
  margin-top: 5%;
  height: 45px;
  width: 165px;
  /* height: 6.6vh;
  width: 15.3vw; */
  border-radius: 5px;
  background: #32acdc;
  border: 0;
  color: #ffffff;
}
.menu-item-small{
  font-family: 'OpenSans Semibold';
  font-size: 13px;
  line-height: 19px;
}
.main-container .howItWork-section .step-box-container .step-box .step-btn:hover {
  margin-top: 5%;
  height: 45px;
  width: 165px;
  border-radius: 5px;
  border: 0;
  background-image: linear-gradient(#32acdc, #38dbff);
  color: #ffffff;

}
.main-container .preview-section .message-box .qr-image-container {
  height: 74% !important;
  display: flex;
  align-items: flex-end;
}
.main-container .preview-section .message-box .app-link {
  height: 30% !important;
  font-size: 13px;
}
.main-container .preview-section .message-box .qr-image {
  height: 25vh;
  margin-left: 8%;
}
.main-container .preview-section .message-box .row {
  height: 32.5%;
}
.main-container .preview-section .message-box .logo-container {
  width: 40%;
}
.main-container .preview-section .message-box .logo-image {
    display: flex;
    align-self: center;
    height: 10vh;
    width: auto;
}
.main-container .preview-section .message-box .message-box-image {
  height: 7vh;
  width: auto;
  margin-bottom: 3%;
}
.main-container .preview-section .message-box .paragraph-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.main-container .preview-section .message-box .wheresMyDrink {
  width:28%; 
}
.main-container .preview-section .message-box .wheresMyFood {
  width:30%; 
}
.main-container .preview-section .message-box .checkPlease {
  width: 22%;
}
.main-container .preview-section .message-box .letsChat {
  width: 20%;
}
.main-container .preview-section .print-text {
  height: 15vh;
}
.main-container .useCases-section {
  height: 100vh;
}
.main-container .useCases-section .case-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin-top: 3%;
}
.main-container .useCases-section .heading-text {
  height: 14vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1.5%;
}
.main-container .useCases-section .central-border-useCases {
  display: flex;
  width: 7%;
  height: 1vh;
  margin: 0px auto;
  border-bottom: 2px solid #32acdc;
}
.main-container .useCases-section .case-box-container .case-image {
  border-radius: 5px;
  height: 32vh;
  width: 24vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main-container .useCases-section .case-box-container .case-image-1 {
  background-image: url("../img/image.png");
}
.main-container .useCases-section .case-box-container .case-image-2 {
  background-image: url("../img/image 2.png");
}
.main-container .useCases-section .case-box-container .case-image-3 {
  background-image: url("../img/image 3.png");
}

.main-container .useCases-section .case-box-container .row > p {
  font-size: 14px;
  line-height: 24px;
}
.main-container .useCases-section .case-box-container .case-btn {
    margin-top: 5%;
    height: 48px;
    width: 210px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid;
    color: #32acdc;
    font-family: 'OpenSans Regular';
    font-size: 15px;
}
.main-container .useCases-section .case-box-container .case-btn:hover {
  margin-top: 5%;
  height: 48px;
  width: 210px;
  border-radius: 5px;
  border: 0;
  background-image: linear-gradient(#32acdc, #38dbff);
  color: #ffffff;

}
.main-container .requirement-section .heading-text {
  font-family: 'Gotham Pro Medium';
  font-size: 32px;
  line-height: 46px;
}
.main-container .requirement-section .qr-image {
  height: 9vh;
  width: auto;
}
.main-container .requirement-section .customers-img {
  height: 39vh;
  width: 26vw;
  border-radius: 5px;
}
.main-container .requirement-section .img-overlay-left {
    margin-top: 4rem;
    margin-right: -2rem;
    z-index: 1;
}
.main-container .requirement-section .img-overlay-right {
    margin-top: 4rem;
    margin-left: -2rem;
}
.main-container .requirement-section .chat-image {
  height: 7vh;
}
.main-container .requirement-section .chat-image-green {
  height: 7vh;
  filter: saturate(3);
}
.main-container .benifits-section {
  height: 80vh;
}
.main-container .benifits-section .user-image {
  height: 400px;
}
.main-container .benifits-section .li-mainContainer {
  height: 78%;
}
.main-container .benifits-section .li-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: flex-start;
  width: 100%;
  padding: 0.7rem;        
}
.main-container .benifits-section .benifits-list-container {
  display: flex;
  align-items: flex-start;
}
.main-container .benifits-section .benfit-list-text {
  font-family: 'OpenSans SemiBold';
  padding-bottom: 5%;
  color: #4c5666;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
}
.main-container .benifits-section li {
 list-style: none;
}
.main-container .benifits-section li::before {
  content: "\2022";
  font-size: 1.5rem;
  color: #32acdc;
  margin-top: 2%;
  padding-right: 3%;
  text-align: center;

}
.main-container .benifits-section .lady-image {
  height: 61vh;
  width:auto;
}
.central-border {
  display: flex;
  width: 7%;
  height: 5vh;
  margin: 0px auto;
  border-bottom: 2px solid #32acdc;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.cursor-pointer {
  cursor: pointer;
}