 /* Responsive css for tab */
 
@media only screen and (max-width: 768px) and (min-width: 500px) {
    .auto-height {
      height: auto !important;
    }
    .main-container .down-direction-arrow {
      margin-top: 10%;
    }
  
    /* second section */
    .main-container .howItWork-section .step-box-container {
      display: block !important;
      padding: 5%;
    }
  
    /* fourth section */
    .card-box {
      width: 42% !important;
      margin: 2% !important;
      height: 50vh !important;
    }
    .main-container .useCases-section .case-box-container {
      display: block !important;
    }
    .main-container .useCases-section .case-box-container .case-image {
      height: 23vh !important;
      width: auto !important;
    }
  
    /* fifth section */
    .main-container .requirement-section .customers-img {
      height: 20vh !important;
      width: 29vw !important;
    }
    .main-container .requirement-section .paragraph-container {
      margin-left: 2%;
    }
  }

  /* Responsive css for mobiles */

  @media only screen and (max-width: 500px) {
    .auto-height {
      height: auto !important;
    }
    .margin-left-2 {
      margin-left: 0px;
    }
    .main-container {
      overflow-x: hidden;
      overflow-y: auto;
    }
    .navbar .navbar-header {
      width: 100%;
      display: block;
      margin-left: 5px;
    }
    .navbar-nav li a:hover {
      cursor: pointer;
      background-color: unset;
      border-bottom: 3px solid transparent;
      overflow:hidden;
    }
    /* fonts */
    h1 {
      font-size: 2.2rem !important;
      line-height: 3rem !important;
    }
    p.big {
      font-size: 1.2rem !important;
    }
    p.normal {
      line-height: 20px !important;
    }
    .main-container .first-section .button-group .btn-text {
      font-size: 0.8rem !important;
    }
    /* First section */
    .main-container .first-section .button-group {
      display: block;
      margin-top: 6%;
    }
    .btn-blue {
      margin-right: 0 !important;
      width: inherit !important;
    }
    .btn-green {
      margin-left: 0 !important;
      margin-top: 5%;
      width: inherit !important;
    }
    .main-container .down-direction-arrow {
      margin-top: 5%;
    }
    /* second section */
    .howItWork-section-container {
      padding: 0;
    }
    .main-container .howItWork-section {
      margin: 0px;
    }
    .main-container .howItWork-section .step-box-main-container {
      overflow-y: visible;
      overflow-x: hidden;
    }
    .main-container .howItWork-section .step-box-main-container::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    
    .main-container .howItWork-section .step-box-main-container::-webkit-scrollbar
    {
      width: 0px;
      background-color: #F5F5F5;
    }
    
    .main-container .howItWork-section .step-box-main-container::-webkit-scrollbar-thumb
    {
      background-color: #000000;
      border: 2px solid #555555;
    }
   
    .main-container .howItWork-section .step-box-container {
      display: flex;
      flex-direction: column;
      padding: 7%;
    }
    .main-container .howItWork-section .step-box-container .step-box {
      width: auto;
      height: 291px;
      border-radius: 0px;
    }
    /* .main-container .howItWork-section .step-box-container .step-box .step-btn {
      height: 39px;
      width: 158px;
      margin-top: 0%;
    } */
    .main-container .howItWork-section .step-box-container .step-box:hover {
      width: auto;
      height: 291px;
      border-radius: 5px;
      background-color: #FFFFFF;
      margin-top: 1%;
    }
    /* second section ends here */
    /* fourth section */
    .useCases-section-container {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-x: hidden;
      overflow-y: visible;
    }
    .useCases-section-container::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    
    .useCases-section-container::-webkit-scrollbar
    {
      width: 0px !important;
      background-color: #F5F5F5;
    }
    
    .useCases-section-container::-webkit-scrollbar-thumb
    {
      background-color: #000000;
      border: 2px solid #555555;
    }
    .main-container .useCases-section .case-box-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card-box {
      width: 75vw !important;
      box-shadow: 0 4px 20px rgba(0, 170, 255, 0.15);
      margin-bottom: 4%;    
    }
    .card-box:hover {
      box-shadow: 0 4px 20px rgba(0, 170, 255, 0.25);    
      width: 75vw !important;
    }
    .main-container .useCases-section .case-box-container .case-image {
      width: auto !important;
    }
  
    /* fifth section */
    .main-container .requirement-section .customers-img {
      height: 7rem !important;
      width: 10.2rem !important;
    }
    .main-container .requirement-section .qr-image {
      height: 6vh !important;
      width: auto;
    }
    .main-container .requirement-section .chat-image {
      height: 6vh !important;
      width: auto;
    }
    /* Last section */
    .main-container .benifits-section .benfit-list-text {
      width:100%;
    }
  }
  