// Typography
h1 {
  font-family: 'Gotham Pro Black';
  font-size: 40px;
  line-height: 52px;
}
h2 {
  font-family: 'Gotham Pro Medium';
  font-size: 32px;
  line-height: 46px;
}
h3 {
  font-family: 'Gotham Pro Medium';
  font-size: 26px;
  line-height: 30px;
}
h4 {
  font-family: 'Gotham Pro Medium';
  font-size: 20px;
  line-height: 22px;
}
h5 {
  font-family: 'Gotham Pro Medium';
  font-size: 14px;
  line-height: 20px;
}
p.big {
  font-family: 'Open Sans Regular';
  font-size: 22px;
  line-height: 35px;
}
p.normal {
  font-family: 'Open Sans Regular';
  font-size: 16px;
  line-height: 30px;
}
p.card {
  font-family: 'Gotham Pro Regular';
  font-size: 14px;
  line-height: 24px;
}
p.small {
  font-family: 'Gotham Pro Medium';
  font-size: 12px;
  line-height: 22px;
}
.menu-item {
  font-family: 'Open Sans Semibold';
  font-size: 16px;
  line-height: 20px;
}

// Buttons
.btn-blue {

}
.btn-blue:hover {

}

.btn-green {

}
.btn-green:hover {

}

.btn-white {

}

 
// Cards
