@font-face {
  font-family: 'Gotham Pro Black';
  src: url('fonts/GothaProBlack.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('fonts/GothaProBold.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('fonts/GothaProMed.otf') format('opentype');
}
@font-face {
  font-family: 'OpenSans Regular';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans SemiBold';
  src: url('fonts/OpenSans-Semibold.ttf') format('truetype');
}

 /*Typography*/
h1 {
  font-family: 'Gotham Pro Black';
  font-size: 40px;
  line-height: 52px;
}
h2 {
  font-family: 'Gotham Pro Medium';
  font-size: 32px;
  line-height: 46px;
}
h3 {
  font-family: 'Gotham Pro Medium';
  font-size: 26px;
  line-height: 30px;
}
h4 {
  font-family: 'Gotham Pro Medium';
  font-size: 20px;
  line-height: 22px;
}
h5 {
  font-family: 'Gotham Pro Medium';
  font-size: 14px;
  line-height: 20px;
}

p.big {
  font-family: 'OpenSans Regular';
  font-size: 22px;
  line-height: 24px;
  color: #4c5666;
}
p.normal {
  font-family: 'OpenSans Regular';
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  margin: 0;
}
p.card {
  font-family: 'Gotham Pro Regular';
  font-size: 14px;
  line-height: 24px;
  color: #4c5666;
}
p.small {
  font-family: 'Gotham Pro Medium';
  font-size: 12px;
  line-height: 22px;
}
.menu-item {
  font-family: 'OpenSans Semibold';
  font-size: 16px;
  line-height: 20px;
}

/*Buttons*/
.btn-blue {
  height: 52px;
  width: 371px;
  border-radius: 5px;
  margin-right: 8px;
  border: 0;
  background: #32acdc;
  box-shadow: 1px 1px 2px 1px #ccc;
  background: linear-gradient(,#38dbff, #32acdc);
}
.btn-blue:hover {
  height: 52px;
  width: 371px;
  border-radius: 5px;
  margin-right: 8px;
  border: 0;
  box-shadow: 1px 1px 2px 1px #ccc;
  background: #38dbff;
  background: linear-gradient(#32acdc, #38dbff);
}

.btn-green {
  height: 52px;
  width: 213px;
  border-radius: 5px;
  border: 0;
  margin-left: 2%;
  box-shadow: 1px 1px 2px 1px #ccc;
  background: #4be539;
  background: linear-gradient(#4be539, #0abf00);
}
.btn-green:hover {
  height: 52px;
  width: 213px;
  border-radius: 5px;
  border: 0;
  margin-left: 2%;
  box-shadow: 1px 1px 2px 1px #ccc;
  background: #4be539;
  background: linear-gradient(#0abf00, #4be539);
}

.btn-white {
  height: 38px;
  width: 214px;
  border-radius: 5px;
  border: 0;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 170, 255, 0.25);
  border-bottom: 0px !important;
  color: #32acdc;
  font-family: 'Gotham Pro Bold';
  font-size: 1rem;
  opacity: 15%;
}
.btn-white:hover {
  color: #ffffff;
  font-family: 'Gotham Pro Bold';
  font-size: 1rem;
  background: linear-gradient(#38dbff, #32acdc);
  opacity: 25%;
}

 
 /*Cards*/
 .step-box {
  width: 310px;
  height: 331px;
  border-radius: 5px;
}
.main-container .howItWork-section .step-box-container .step-box:hover {
  width: 310px;
  height: 331px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 170, 255, 0.25);
  
}
.card-box {
  width: 24vw;
  height: 68vh;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 170, 255, 0.15);
}
.card-box:hover {
  width: 24vw;
  height: 68vh;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 170, 255, 0.25);
}
