<div class="main-container container">
	<!-- <div class="container"> -->
	<div class="row first-section">
		<div class="col-md-4 col-md-offset-1">
			<img class="request-img img-responsive" src="/modules/core/client/img/request-background-img-crop.jpg">
		</div>
		<div class="col-md-6">
			<h1 class="main-heading-text">
				First "Live Chat" Software for the Hospitality and Services Industry
			</h1>
			<p class="paragraph-text">
				Your On-premise customers want to chat with you as well. Give them 
				instant service.Make them Happy. Use instaConnect.
			</p>
			<div class="button-group">
				<button class="btn btn-primary code-btn btn-text grad-code-button">Enter or Scan InstaConnect Code
				<i class="fa fa-chevron-right icon-right" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success signUp-btn btn-text grad-signUp-button">Sign Up Free
					<i class="fa fa-chevron-right icon-right" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="row down-direction-arrow">
		<i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
	</div>
	<div class="row howItWork-section">
		<h2 class="heading-text horizontal-centered">
			How It Works?
		</h2>
		<div class="col-md-12 no-padding">
			<!-- <div class="row vertical-centered" style="width: 5vh;border-bottom: 1px solid #32acdc;">
					sdffdsfsfsdsds
				</div> -->

			<div class="row step-box-container">
				<div class="col-md-2 margin-left-2 step-container">
						<div class="row horizontal-centered-column">
							<h5 class="step-text margin-5">Step 1</h5>
						</div> 
						<div class="row horizontal-centered margin-5">	
							<i class="icon-user sign-up-icon" aria-hidden="true"></i>
						</div>
						<div class="row horizontal-centered margin-5">	
							<h6 class="step-subHeading-text">SIGN UP</h6>
						</div>
						<div class="row margin-5 step-paragraph-text">	
							<div>
								<p align="center">
									Sign Up for FREE on our
									
								</p>
							</div>
							<div>
								<p align="center">
									website.Enter your details
								</p>
							</div>
							
						</div>
						<div class="row horizontal-centered margin-5">
							<button class="btn btn-success step-btn grad-step-button">Learn More</button>
						</div>		
				</div>
				<div class="col-md-2 step-container">
					<div class="row horizontal-centered-column">
							<h5 class="step-text margin-5">Step 2</h5>
						</div> 
						<div class="row horizontal-centered margin-5">	
							<i class="icon-printer sign-up-icon" aria-hidden="true"></i>
						</div>
						<div class="row horizontal-centered margin-5">	
							<h6 class="step-subHeading-text">PRINT TAGS</h6>
						</div>
						<div class="row margin-5 step-paragraph-text">	
							<div>
								<p align="center">
									Print InstaConnect Tags.
									
								</p>
							</div>
							<div>
								<p align="center">
									Place tags on tables or rooms
								</p>
							</div>
							
						</div>
						<div class="row horizontal-centered margin-5">
							<button class="btn btn-success step-btn grad-step-button">Learn More</button>
						</div>
				</div>
				<div class="col-md-2 step-container">
					<div class="row horizontal-centered-column">
							<h5 class="step-text margin-5">Step 3</h5>
						</div> 
						<div class="row horizontal-centered margin-5">	
							<i class="icon-settings sign-up-icon" aria-hidden="true"></i>
						</div>
						<div class="row horizontal-centered margin-5">	
							<h6 class="step-subHeading-text">SETUP SERVERS</h6>
						</div>
						<div class="row margin-5 step-paragraph-text">	
							<div>
								<p align="center">
									Send invite to Waiter or Room
									
								</p>
							</div>
							<div>
								<p align="center">
									service agents on this platform
								</p>
							</div>
							
						</div>
						<div class="row horizontal-centered margin-5">
							<button class="btn btn-success step-btn grad-step-button">Learn More</button>
						</div>
				</div>
				<div class="col-md-2 step-container margin-right-2">
					<div class="row horizontal-centered-column">
							<h5 class="step-text margin-5">Step 4</h5>
						</div> 
						<div class="row horizontal-centered margin-5">	
							<i class="fa fa-commenting-o sign-up-icon" aria-hidden="true"></i>
						</div>
						<div class="row horizontal-centered margin-5">	
							<h6 class="step-subHeading-text">CHATS</h6>
						</div>
						<div class="row margin-5 step-paragraph-text">	
							<div>
								<p align="center">
									Let customers discover and initiate
									
								</p>
							</div>
							<div>
								<p align="center">
									chat with waiter or room service
								</p>
							</div>
							
						</div>
						<div class="row horizontal-centered margin-5">
							<button class="btn btn-success step-btn grad-step-button">Learn More</button>
						</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="row preview-section">
		<div class="col-md-12 no-padding">
			<div class="row horizontal-centered heading-text">
				Here's how the Message Tag looks like
			</div>
			<div class="container margin-5">
				<div class="row horizontal-centered">
					<div class="col-md-8">
						<div class="row message-box">			
							<div class="col-md-4 full-height vertical-centered">
								<img class="img-responsive qr-image" src="/modules/core/client/img/sample.png">
							</div>
							<div class="col-md-8">
								<div class="row margin-5 logo-image">
									<img align="center" class="img-responsive" src="/modules/core/client/img/brand/logo.png">
								</div>
								<div class="row margin-5">
									<div>
										<p align="center">
											To get inmmediate attention from your server please go to
										</p>
									</div>
									<div>
										<p align="center">
											<a href="">InstaConnectApp.com</a> and enter
											<a href="">978 679 080</a> or usre the
											<a href="">QR code</a>
										</p>
									</div>
									<div>
										<p align="center">
											and choose any of the options below
										</p>
									</div>
								</div>
								<div class="row margin-5">
									<div class="col-md-3">
										<div class="row">
											<i class="fa fa-chevron-right icon-right" aria-hidden="true"></i>
										</div>
										<div class="row">
											WHERE'S MY DRINK
										</div>	
									</div>
									<div class="col-md-3">
										<div class="row">
											<i class="fa fa-chevron-right icon-right" aria-hidden="true"></i>
										</div>
										<div class="row">
											WHERE'S MY FOOD
										</div>
									</div>
									<div class="col-md-3">
										<div class="row">
											<i class="fa fa-chevron-right icon-right" aria-hidden="true"></i>
										</div>
										<div class="row">
											CHECK PLEASE
										</div>
									</div>
									<div class="col-md-3">
										<div class="row">
											<i class="fa fa-chevron-right icon-right" aria-hidden="true"></i>
										</div>
										<div class="row">
											LET'S CHAT
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>	
				</div>
			</div>
			<div class="row margin-5">
				<p align="center" class="print-text">
					Print and stick this tag to every tabel or hotel room to enable messaging and lead inquries
				</p>
			</div>
		</div>
	</div>
	<div class="useCases-section row margin-5">
		<div class="col-md-12 no-padding">
			<div class="container">
				<div class="row">
					<p align="center" class="heading-text">
						Use Cases
					</p>
				</div>
				<div class="row case-box-container">
					<div class="col-md-4 case-box">
						<div class="row case-image no-padding">
						</div>
						<div class="row horizontal-centered margin-5">	
							<h6 class="heading-text">Room Service</h6>
						</div>
						<div class="row margin-5 step-paragraph-text">	
							<div>
								<p align="center">
									Delights your in-room customers.
									
								</p>
							</div>
							<div>
								<p align="center">
									Give them a voice free experience
								</p>
							</div>
							<div>
								<p align="center">
									to the room service
								</p>
							</div>
							
						</div>
						<div class="row horizontal-centered margin-5">
							<button class="btn btn-success case-btn grad-case-button">Learn More</button>
						</div>
					</div>
					<div class="col-md-4 case-box">
						<div class="row case-image no-padding">
						</div> 
						<div class="row horizontal-centered margin-5">	
							<h6 class="heading-text">Restaurants</h6>
						</div>
						<div class="row margin-5 step-paragraph-text">	
							<div>
								<p align="center">
									Decrease your response time to
									
								</p>
							</div>
							<div>
								<p align="center">
									customers requests. Have your waiters
								</p>
							</div>
							<div>
								<p align="center">
									to use InstaConnect IM.
								</p>
							</div>
							
						</div>
						<div class="row horizontal-centered margin-5">
							<button class="btn btn-success case-btn grad-case-button">Learn More</button>
						</div>
					</div>
					<div class="col-md-4 case-box">
						<div class="row case-image no-padding">
						</div> 
						<div class="row horizontal-centered margin-5">	
							<h6 class="heading-text">Other</h6>
						</div>
						<div class="row margin-5 step-paragraph-text">	
							<div>
								<p align="center">
									Cruise, Assisted Living, Malls. If you can
									
								</p>
							</div>
							<div>
								<p align="center">
									stick an InsatConnect tags, you can start
								</p>
							</div>
							<div>
								<p align="center">
									a chats with your customers.
								</p>
							</div>
							
						</div>
						<div class="row horizontal-centered margin-5">
							<button class="btn btn-success case-btn grad-case-button">Learn More</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="requirement-section row">
		<div class="col-md-12 no-padding">
			<div class="container">
				<div class="row heading-text">
					<p align="center">
						Why talk when you can InstaConnect
					</p>
				</div>
				<div class="row margin-5">
					<div class="col-md-5">
						<div class="row text-container">
							<img class="img-responsive qr-image" src="/modules/core/client/img/sample.png">
								<p align="center">
									SCAN OR ENTER QR CODE
								</p>
								<p align="center">
									Scan the QR code and get
								</p>
								<p align="center">
									immediate service
								</p>
						</div>
						<div class="row margin-5 text-container">
							<img src="">
							<h5>CHAT</h5>
							<p align="center ">
								Don't be "too" chatty, your waiter has to
							</p>
							<p align="center">
								balance a tray while responding to you.
							</p>
						</div>
					</div>
					<div class="col-md-7 horizontal-centered">
						images
					</div>
				</div>
				<div class="row heading-text margin-5">
					<p align="center">
						Get service in Seconds - Restaurants
					</p>
				</div>
				<div class="row margin-5">
					<div class="col-md-7 horizontal-centered">
						images
					</div>
					<div class="col-md-5">
						<div class="row text-container">
							<img class="img-responsive qr-image" src="/modules/core/client/img/sample.png">
								<p align="center">
									SCAN OR ENTER QR CODE
								</p>
								<p align="center">
									Scan the QR code and get
								</p>
								<p align="center">
									immediate service
								</p>
						</div>
						<div class="row margin-5 text-container">
							<img src="">
							<h5>CHAT</h5>
							<p align="center">
								Don't be "too" chatty, your waiter has to
							</p>
							<p align="center">
								balance a tray while responding to you.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="benifits-section row">
		<div class="col-md-12 no-padding margin-5">
			<div class="container">
				<div class="row">
					<div class="col-md-3 horizontal-centered">
						<img class="img-responsive" src="/modules/core/client/img/download (3).jpg">
					</div>
					<div class="col-md-9">
						<div class="row heading-text horizontal-centered">
							Benifits
						</div>
						<div class="row li-container margin-5 horizontal-centered">
							<li class="benfit-list-text">Real Time Messaging</li>
							<li class="benfit-list-text">Less Talk, More Work</li>
							<li class="benfit-list-text">Old People Talk, Millennials InstaConnect</li>
							<li class="benfit-list-text">Rapid Response</li>
							<li class="benfit-list-text">Optimized Workforce, stop twiddling
							the thumb
							</li>
							<li class="benfit-list-text">No More "How Are You? I am well", just get to work</li>
							<li class="benfit-list-text">Quick, Fast, Efficient</li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
